*{
    padding: 0px;
    border: 0;
}
/*导航条开始*/
.nav-bar {  
    list-style-type: none; /* 移除默认的列表样式 */  
    margin: 0; /* 重置外边距 */  
    padding: 0; /* 重置内边距 */  
    display: flex; /* 使用Flexbox布局 */  
    justify-content: center; /* 水平居中 */  

  }  
    
  .nav-bar li {  
    margin: 0 10px; /* 可选：给列表项添加左右外边距 */  
  }  
    
  .nav-bar li a {  
    color: white; /* 链接文字颜色 */  
    text-decoration: none; /* 移除下划线 */  
    padding: 10px; /* 可选：给链接添加内边距 */  
    color: black; 
    border-radius: 5px; /* 可选：添加圆角 */  
  }  
    
  .nav-bar li a:hover {  
    background-color: #7e76db; /* 可选：鼠标悬停时的背景色 */  
  }
/*导航条结束*/
/*自我介绍开始*/
div.jieshao{
    width: 100%;
}
div.jieshao h2{
    text-align: center;
}
div.jieshao p{
    margin-top: 25px;
    width: 600px;
    margin: 0 auto;
}
div.jieshao p a{
    line-height: 30px;
}
div.zp p{
    text-align: center;
}
/*自我介绍结束*/
/*表格开始*/
div.biaoge{
    width: 100%;
    color: rgb(79, 125, 232);
}
div.biaoge table{
    margin: 0 auto;
    border: 5px solid rgb(232, 67, 67);
    border-color: rgb(232, 67, 67);
}
div.biaoge table tr th{
    border: 3px solid rgb(232, 67, 67);
}
div.biaoge table tr th:nth-child(1){
    width: 300px;
    height: 100px;
}
div.biaoge table tr th:nth-child(2){
    width: 140px;
    height: 100px;
}
div.biaoge table tr th:nth-child(3){
    width: 200px;
    height: 100px;
}
div.biaoge table tr td{
    border: 3px solid rgb(232, 67, 67);
}

/*表格结束*/
/*页脚开始*/
div.yejiao{
    width: 100%;
}
div.yejiao p{
    margin:0 auto;
    margin-top: 100px;
    text-align: center;
}

/*页脚结束*/